<div class="container">
    <nav id="menu" class="sub-container-menu">
        <ul>
            <li><a routerLink="listar">Listar</a></li>
            <li><a routerLink="cadastrar">Cadastrar</a></li>
        </ul>
    </nav>

    <div class="sub-container">
      <router-outlet></router-outlet>
    </div>
  </div>

<!--<div class="container">
  <div class="sub-container">
    <label>Lista Telefônica</label>
  </div>
  <div class="sub-container">
    <button>Listar</button>
    <button>Cadastrar</button>
  </div>
</div>-->



